[submodule "hFilter"]
	path = hFilter
	url = git@github.com:MDEGroup/hFilter.git
[submodule "PairRank"]
	path = PairRank
	url = git@github.com:SasCezar/PairRank.git
[submodule "Search-Engines-Scraper"]
	path = Search-Engines-Scraper
	url = git@github.com:tasos-py/Search-Engines-Scraper.git
